<section
  id="loading"
  class="position-fixed top-0 w-100 h-100 flex-column justify-content-center align-items-center bg-body"
  style="display: flex; transition: display 1s ease-in-out"
>
  <div
    id="loading_body"
    class="postition-relative d-flex flex-column justify-content-center align-items-center"
    style="max-width: 20em"
  >
    <img
      class="img-fluid object-fit-cover"
      src="{{ url_for('static', filename='video/loading1-transparent.gif') }}"
      style="object-postion: center"
      alt="loading1"
    />
    <p class="lead fs-3 text-secondary poppins-semibold">Loading...</p>
  </div>
</section>
