{% extends "dashboard_magang.html" %} {% block title %}
<title>AbsensiKu | Ubah Password</title>
{% endblock %} {% block navbar %} 
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% if not (data.departement == 'Mentor' and data.jobs == 'Sub Admin') and data.role == 1%}
    <li class="nav-item">
      <a
        class="nav-link poppins-regular text-pink d-flex align-items-center gap-2"
        href="/dashboard"
        ><i class="fas fa-house-chimney fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Halaman Utama</a
      >
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2 active" href="/change-password">
        <i class="fas fa-key fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Ubah Password
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2" href="/riwayat-kehadiran"
        ><i class="fas fa-calendar-check fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Riwayat Kehadiran Karyawan</a
      >
    </li>
    {% if data.role==1%}
    {% if data.departement=='Mentor' and data.jobs=='Admin' %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink  d-flex align-items-center gap-2" href="/riwayat-bantuan"
        ><i class="fas fa-circle-question fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i> Riwayat Bantuan</a
      >
    </li>
    {% endif %}
    {% if data.departement == 'Superuser' %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2" href="/kelola-admin"><i class="fas fa-user-tie fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Kelola Admin</a>
    </li>
    {% endif %}
    {% endif %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2" href="/task"><i class="fa-regular fa-pen-to-square fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Tugas</a>
    </li>
  </ul> 
{% endblock navbar%} {% block content %} {% if data.role==3 or data.role==1 %}
<div
  id="changePassword{{ data.role }}"
  class="container-fluid"
  style="margin-top: 1.5rem"
>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1
      class="h3 poppins-regular mb-md-0 mb-sm-2 text-gray-800"
      data-aos="zoom-in-right"
      data-aos-delay="600"
      data-aos-duration="800"
    >
      Ubah Password
    </h1>
    <h1
      id="clock"
      class="h6 border border-1 rounded border-secondary-subtle p-1 px-2 poppins-regular mb-0 text-gray-800"
      data-aos="zoom-in-left"
      data-aos-delay="200"
      data-aos-duration="800"
    ></h1>
  </div>

  {% block content_body_3 %}

  <form
    id="changePasswordForm"
    onsubmit="validateForm(event)"
    data-aos="zoom-in"
    data-aos-delay="600"
    data-aos-duration="800"
  >
    <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() }}"
    />
    <div class="jumbotron-fluid rounded p-3 shadow shadow-md">
      <section data-aos="fade-up" data-aos-delay="1200" data-aos-duration="500">
        <h1 class="h5 poppins-medium text-body-secondary">Password Lama</h1>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control poppins-regular"
            id="password_lama"
            placeholder="Password Lama"
          />
          <label for="password_lama" class="poppins-light">Password Lama</label>
        </div>
      </section>
      <section data-aos="fade-up" data-aos-delay="1400" data-aos-duration="500">
        <h1 class="h5 poppins-medium text-body-secondary">Password Baru</h1>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control poppins-regular"
            id="password_baru"
            placeholder="Password Baru"
          />
          <label for="password_baru" class="poppins-light">Password Baru</label>
        </div>
      </section>
      <section data-aos="fade-up" data-aos-delay="1600" data-aos-duration="500">
        <h1 class="h5 poppins-medium text-body-secondary">
          Konfirmasi Password Baru
        </h1>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control poppins-regular"
            id="confirm_pw_baru"
            placeholder="Konfirmasi Password Baru"
          />
          <label class="poppins-light" for="confirm_pw_baru"
            >Konfirmasi Password Baru</label
          >
        </div>
      </section>
      <div
        class="row gap-1 justify-content-center align-items-center m-0 overflow-hidden"
      >
        <button
          type="submit"
          class="col btn btn-primary poppins-medium"
          data-aos="fade-right"
          data-aos-delay="2100"
          data-aos-duration="500"
          data-aos-anchor-placement="top-bottom"
        >
          Kirim
        </button>
        <button
          type="reset"
          class="col btn btn-danger poppins-medium"
          data-aos="fade-left"
          data-aos-delay="2600"
          data-aos-duration="500"
          data-aos-anchor-placement="top-bottom"
        >
          Reset
        </button>
      </div>
    </div>
  </form>
  {% endblock %}  {% endif %} {% endblock content %} {% block message %}
    <script>
      $(document).ready(function () {
        var password_lama;
        var password_baru;
        var confirm_pw_baru;

        //kondisi password lama
        $("#password_lama").on("input", function () {
          password_lama = $("#password_lama").val().trim();

          if (password_lama == "") {
            $(this).addClass("is-invalid");
          } else {
            $(this).removeClass("is-invalid");
          }
        });

        //kondisi password baru
        $("#password_baru").on("input", function () {
          password_baru = $("#password_baru").val().trim();

          if (password_baru == "") {
            $(this).addClass("is-invalid");
          } else {
            $(this).removeClass("is-invalid");
          }
        });

        //kondisi konfirmasi password
        $("#confirm_pw_baru").on("input", function () {
          confirm_pw_baru = $("#confirm_pw_baru").val().trim();

          if (confirm_pw_baru == "") {
            $(this).addClass("is-invalid");
          } else if (confirm_pw_baru != password_baru) {
            $(this).addClass("is-invalid");
          } else {
            $(this).removeClass("is-invalid");
          }
        });
      });

      validateForm = (e) => {
        e.preventDefault();
        // make loading
        $('section#menu').fadeOut(200,function(){
          $('section#loading').fadeIn(500);
        })
        //cek validasi ada kesalahan
        if (
          $("#password_lama").hasClass("is-invalid") ||
          $("#password_baru").hasClass("is-invalid") ||
          $("#confirm_pw_baru").hasClass("is-invalid")
        ) {
          window.location.replace(
            "/change-password?msg=Terjadi Kesalahan silahkan cek kembali"
          );
        }

        //cek isian kosong
        if (
          $("#password_lama").val().trim() == "" ||
          $("#password_baru").val().trim() == "" ||
          $("#confirm_pw_baru").val().trim() == ""
        ) {
          window.location.replace(
            "/change-password?msg=data ada yang kosong tuh"
          );
        }
        //request
        $.ajax({
          type: "POST",
          url: "/change-password",
          data: {
            old_password: $("#password_lama").val().trim(),
            new_password: $("#password_baru").val().trim(),
          },
          headers: {
            "X-CSRFToken": $("#csrf_token").val(),
          },
          success: function (response) {
            //dapat respose
            $('section#loading').fadeOut(500);
            if (response.status != 400) {
              window.location.replace(response.redirect);
            } else {
              window.location.replace(response.redirect);
            }
          },
          error: function (xhr, status, error) {
            //error
            console.log(xhr,status,error);
            $('section#loading').fadeOut(500);
            if (xhr.responseJSON.redirect){
              window.location.replace(xhr.responseJSON.redirect)
            } else {
              window.location.replace("/change-password?msg=jaringan Error")
            }
          }
        });
      };
    </script>

    {% if (result and msg) %}
    <script>
      Swal.fire({
        icon: "success",
        title: "Sukses!",
        text: "{{ msg }}",
        timer: 3000,
        willClose: () => {
          window.location.replace("/change-password");
        },
      });
    </script>
    {% elif msg %}
    <script>
      Swal.fire({
        icon: "error",
        title: "OOPS!",
        text: "{{ msg }}",
        timer: 3000,
        willClose: () => {
          window.location.replace("/change-password");
        },
      });
    </script>
    {% endif %} {% endblock %}
  </div>
</div>
