{% extends "dashboard_magang.html" %} {% block title %}
<title>AbsensiKu | Ubah Password</title>
{% endblock %}
{% block navbar %} {% if data.role==3 %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a
      class="nav-link poppins-regular"
      aria-current="page"
      href="/dashboard/magang"
      >Dashboard</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link poppins-regular active" href="/change-password"
      >Ubah Password</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link poppins-regular" href="/riwayat-kehadiran"
      >Riwayat Kehadiran</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link poppins-regular" href="/task/magang">Task</a>
  </li>
</ul>
{% elif data.role==1 %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a
      class="nav-link poppins-regular"
      aria-current="page"
      href="/dashboard/magang"
      >Dashboard</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link poppins-regular active" href="/change-password"
      >Ubah Password</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link poppins-regular" href="/riwayat-kehadiran">Riwayat Kehadiran Karyawan</a>
  </li>
</ul>
{% endif %} {% endblock navbar%} {% block content %} {% if data.role==3 %}
<div
  id="changePassword{{ data.role }}"
  class="container-fluid"
  style="margin-top: 1.5rem"
>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 poppins-regular mb-md-0 mb-sm-2 text-gray-800" data-aos='zoom-in-right' data-aos-delay='200' data-aos-duration='800'>Change Password</h1>
    <h1
      id="clock"
      class="h6 border border-1 rounded border-secondary-subtle p-1 px-2 poppins-regular mb-0 text-gray-800" data-aos='zoom-in-left' data-aos-delay='200' data-aos-duration='800'
    ></h1>
  </div>

  {% block content_body_3 %}

  <form id="changePasswordForm" onsubmit="validateForm(event)" data-aos='zoom-in' data-aos-delay='300' data-aos-duration='800'>
    <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() }}"
    />
    <div class="jumbotron-fluid rounded p-3 shadow shadow-md">
      <section data-aos='fade-up' data-aos-delay='1200' data-aos-duration='500'>
        <h1 class="h5 poppins-medium text-body-secondary">Password Lama</h1>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control poppins-regular"
            id="password_lama"
            placeholder="Password Lama"
          />
          <label for="password_lama" class="poppins-light">Password Lama</label>
        </div>
      </section>
      <section data-aos='fade-up' data-aos-delay='1400' data-aos-duration='500'>
        <h1 class="h5 poppins-medium text-body-secondary">Password Baru</h1>
        <div class="form-floating mb-3">
          <input
          type="password"
          class="form-control poppins-regular"
          id="password_baru"
          placeholder="Password Baru"
          />
          <label for="password_baru" class="poppins-light">Password Baru</label>
        </div>
      </section>
      <section data-aos='fade-up' data-aos-delay='1600' data-aos-duration='500'>
      <h1 class="h5 poppins-medium text-body-secondary">
        Konfirmasi Password Baru
      </h1>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control poppins-regular"
          id="confirm_pw_baru"
          placeholder="Konfirmasi Password Baru"
        />
        <label class="poppins-light" for="confirm_pw_baru"
          >Konfirmasi Password Baru</label
        >
      </div>
      </section>
      <div class="row gap-1 justify-content-center align-items-center m-0 overflow-hidden">
        <button type="submit" class="col btn btn-primary poppins-medium" data-aos='fade-right' data-aos-delay='2100' data-aos-duration='500' data-aos-anchor-placement='top-bottom' >
          Submit
        </button>
        <button type="reset" class="col btn btn-danger poppins-medium" data-aos='fade-left' data-aos-delay='2600' data-aos-duration='500' data-aos-anchor-placement='top-bottom'>
          Reset
        </button>
      </div>
    </div>
  </form>
  {% endblock %} {% elif data.role==1%} 
  <div
  id="changePassword{{ data.role }}"
  class="container-fluid"
  style="margin-top: 1.5rem"
>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 poppins-regular mb-md-0 mb-sm-2 text-gray-800" data-aos='zoom-in-right' data-aos-delay='200' data-aos-duration='800'>Change Password</h1>
    <h1
      id="clock"
      class="h6 border border-1 rounded border-secondary-subtle p-1 px-2 poppins-regular mb-0 text-gray-800" data-aos='zoom-in-left' data-aos-delay='200' data-aos-duration='800'
    ></h1>
  </div>
  {% block content_body_1 %}

  <form id="changePasswordForm" onsubmit="validateForm(event)" data-aos='zoom-in' data-aos-delay='300' data-aos-duration='800'>
    <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() }}"
    />
    <div class="jumbotron-fluid rounded p-3 shadow shadow-md">
      <section data-aos='fade-up' data-aos-delay='1200' data-aos-duration='500'>
        <h1 class="h5 poppins-medium text-body-secondary">Password Lama</h1>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control poppins-regular"
            id="password_lama"
            placeholder="Password Lama"
          />
          <label for="password_lama" class="poppins-light">Password Lama</label>
        </div>
      </section>
      <section data-aos='fade-up' data-aos-delay='1400' data-aos-duration='500'>
        <h1 class="h5 poppins-medium text-body-secondary">Password Baru</h1>
        <div class="form-floating mb-3">
          <input
          type="password"
          class="form-control poppins-regular"
          id="password_baru"
          placeholder="Password Baru"
          />
          <label for="password_baru" class="poppins-light">Password Baru</label>
        </div>
      </section>
      <section data-aos='fade-up' data-aos-delay='1600' data-aos-duration='500'>
      <h1 class="h5 poppins-medium text-body-secondary">
        Konfirmasi Password Baru
      </h1>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control poppins-regular"
          id="confirm_pw_baru"
          placeholder="Konfirmasi Password Baru"
        />
        <label class="poppins-light" for="confirm_pw_baru"
          >Konfirmasi Password Baru</label
        >
      </div>
      </section>
      <div class="row gap-1 justify-content-center align-items-center m-0 overflow-hidden">
        <button type="submit" class="col btn btn-primary poppins-medium" data-aos='fade-right' data-aos-delay='2100' data-aos-duration='500' data-aos-anchor-placement='top-bottom' >
          Submit
        </button>
        <button type="reset" class="col btn btn-danger poppins-medium" data-aos='fade-left' data-aos-delay='2600' data-aos-duration='500' data-aos-anchor-placement='top-bottom'>
          Reset
        </button>
      </div>
    </div>
  </form>
  {% endblock %} {% endif %} {% endblock content %} {% block message %}
  <script>
    $(document).ready(function () {
      var password_lama;
      var password_baru;
      var confirm_pw_baru;

      //kondisi password lama
      $("#password_lama").on("input", function () {
        password_lama = $("#password_lama").val().trim();

        if (password_lama == "") {
          $(this).addClass("is-invalid");
        } else {
          $(this).removeClass("is-invalid");
        }
      });

      //kondisi password baru
      $("#password_baru").on("input", function () {
        password_baru = $("#password_baru").val().trim();

        if (password_baru == "") {
          $(this).addClass("is-invalid");
        } else {
          $(this).removeClass("is-invalid");
        }
      });

      //kondisi konfirmasi password
      $("#confirm_pw_baru").on("input", function () {
        confirm_pw_baru = $("#confirm_pw_baru").val().trim();

        if (confirm_pw_baru == "") {
          $(this).addClass("is-invalid");
        } else if (confirm_pw_baru != password_baru) {
          $(this).addClass("is-invalid");
        } else {
          $(this).removeClass("is-invalid");
        }
      });
    });

    validateForm = (e) => {
      e.preventDefault();
      //cek validasi ada kesalahan
      if (
        $("#password_lama").hasClass("is-invalid") ||
        $("#password_baru").hasClass("is-invalid") ||
        $("#confirm_pw_baru").hasClass("is-invalid")
      ) {
        window.location.replace(
          "/change-password?msg=Terjadi Kesalahan silahkan cek kembali"
        );
      }

      //cek isian kosong
      if (
        $("#password_lama").val().trim() == "" ||
        $("#password_baru").val().trim() == "" ||
        $("#confirm_pw_baru").val().trim() == ""
      ) {
        window.location.replace(
          "/change-password?msg=data ada yang kosong tuh"
        );
      }
      //request
      $.ajax({
        type: "POST",
        url: "/change-password",
        data: {
          old_password: $("#password_lama").val().trim(),
          new_password: $("#password_baru").val().trim(),
        },
        headers: {
          "X-CSRFToken": $("#csrf_token").val(),
        },
        success: function (response) {
          if (response.status != 400) {
            window.location.replace(response.redirect);
          } else {
            window.location.replace(response.redirect);
          }
        },
      });
    };
  </script>

  {% if (result and msg) %}
  <script>
    Swal.fire({
      icon: "success",
      title: "Sukses!",
      text: "{{ msg }}",
      timer: 3000,
      willClose: () => {
        window.location.replace("/change-password");
      },
    });
  </script>
  {% elif msg %}
  <script>
    Swal.fire({
      icon: "error",
      title: "OOPS!",
      text: "{{ msg }}",
      timer: 3000,
      willClose: () => {
        window.location.replace("/change-password");
      },
    });
  </script>
  {% endif %} {% endblock %}
</div>
