{% extends "forgetPassword.html" %} {% block side_gambar %}
<img
  src="{{url_for('static', filename='img/otp-signin.png')}}"
  class="img-fluid"
  alt="otp-signin.png"
/>
{% endblock %} {% block form %}
<form
  onsubmit="otpSubmit(event)"
  class="row border border-3 rounded-2 border-purple m-md-0 m-sm-2 m-1"
>
  {% endblock %} {% block title_form %}
  <div>
    <h5 class="fw-normal mb-3 pb-3 poppins-regular" style="letter-spacing: 1px">
      Generate OTP
    </h5>
  </div>
  {% endblock %} {% block inputan_form %}
  <div class="col-12 p-0 form-outline mb-4">
    <label class="form-label poppins-regular" for="otp">OTP</label>
    <input
      type="number"
      id="otp"
      name="otp"
      class="form-control poppins-regular"
      placeholder="Masukkan OTP anda"
    />
  </div>
  {% endblock %} {% block link %}
  <div
    id="countdown-otp-time"
    class="d-flex justify-content-center align-items-center"
  ></div>
  {% endblock %} {% block message %} {% if (result and msg) %}

  <script>
    Swal.fire({
      icon: "success",
      title: "OTP",
      text: "{{ msg }}",
      timer: 3000,
      willClose: () => {
        window.location.replace("/sign-in/forget/otp/{{ token }}");
      },
    });
  </script>

  {% elif msg %}
  <script>
    Swal.fire({
      icon: "error",
      title: "Error!",
      text: "{{ msg }}",
      timer: 3000,
    }).then(() => {
      window.location.replace("/sign-in/forget/otp/{{ token }}");
    });
  </script>
  {% endif %}

  <script>
    otpSubmit = (event) => {
      event.preventDefault();
      $('section#forgetPassword').fadeOut(200,function(){
        $('section#loading').fadeIn(500);
      })
      otp_receive = $("#otp").val();
      $.ajax({
        type: "POST",
        url: "/sign-in/forget/otp/{{ token }}",
        data: JSON.stringify({ otp: otp_receive }),
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": $("#csrf_token").val(),
        },
        dataType: "json",
        success: function (response) {
          $('section#loading').fadeOut(500);
          if (response.status == "success") {
            sessionStorage.removeItem("endTime");
            window.location.replace(
              `${response.redirect}?status=${response.status}&msg=${response.msg}&title=${response.title}`
            );
          }
        },
        error: function(xhr,status,error){
          // Tindakan jika gagal
          $('section#loading').fadeOut(500);
          console.log(xhr, status, error);
          window.location.replace(`${xhr.responseJSON.redirect}`), 500;
        }
      });
    };
  </script>
{% endblock %}
