{% extends "index.html" %} {% block title %}
<title>Absensi|Forget Password</title>
{% endblock %} {% block value_body %}
{% block section %}
<section id="forgetPassword" class="h-100">
  <div class="container py-5 h-100">
    <div class="row align-items-center justify-content-center h-100">
{% endblock section %}
      <!-- gambar -->
      <div class="d-lg-block d-none col-md-8 col-lg-7 col-xl-6 mb-4">
        {% block side_gambar %}
        <img
        src="{{url_for('static', filename='img/forgot-password-concept-illustration.png')}}"
        class="img-fluid"
        alt="forgot-password-concept-illustration.png"
        />
        {% endblock side_gambar %}
      </div>
      <!-- bagian form -->
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 m-lg-0 mb-4">
        {% block form %}
        <form
        action="/sign-in/forget"
        method="post"
        class="row border border-3 rounded-2 border-purple"
        >
        {% endblock form %}
          <div
            id="logo-signin"
            class="col-12 d-flex justify-content-center align-items-center p-0 m-0 mb-4"
          >
            <img
              id="winni-logo"
              src="{{url_for('static', filename='img/winni-code-copy.png')}}"
              alt="winni-code.png"
            />
          </div>
          
          {% block title_form %}
          <div>
            <h5 class="fw-normal mb-3 pb-3 poppins-regular" style="letter-spacing: 1px">
              Forgetted password your account
            </h5>
          </div>
          {% endblock title_form %}

          <input
            type="hidden"
            id="csrf_token"
            name="csrf_token"
            value="{{ csrf_token() }}"
          />

          {% block inputan_form %}
          <!-- Email input -->
          <div class="col-12 form-outline mb-4">
            <label class="form-label poppins-regular" for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control  poppins-regular" placeholder="Masukkan Email Address..."/>
          </div>

          <div class="col-12 form-outline mb-4">
            <label class="form-label poppins-regular" for="password_new">Password baru</label>
            <input type="password" id="password_new" name="password_new" class="form-control poppins-regular" placeholder="Masukkan Password..." />
          </div>

          <div class="col-12 form-outline mb-4">
            <label class="form-label poppins-regular" for="password2_new">Confirm Password baru</label>
            <input type="password" id="password2_new" name="password2_new" class="form-control poppins-regular" placeholder="Masukkan Konfirmasi Password..." />
          </div>
          {% endblock inputan_form %}
          
          <!-- Submit button -->
          <div class="col-12 row gap-4">
            <div class="col-12">
              <button type="submit" class="btn btn-primary poppins-medium">Submit</button>
            </div>
            {% block link %}
            <div class="col-12">
              <p class="mb-5 pb-lg-2  poppins-regular" style="color: #393f81">
                have you remembered the password?
                <a class="poppins-regular" href="{{ url_for('signIn') }}" style="color: #393f81"
                >SignIn here</a
                >
              </p>
            </div>
            {% endblock link %}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %} 

{% block message %}
<script>
  $(document).ready(function () {
    localStorage.removeItem("endTime");
  })
</script>
{% if msg %}
<script>
  Swal.fire({
    icon: "error",
    title: "OOPS Password!",
    text: "{{ msg }}",
    timer: 3000
  }).then(()=>{
    window.location.replace('/sign-in/forget');
  })
</script>
{% endif %}
{% endblock %}
