<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="AbsensiKu adalah sebuah sistem manajemen kehadiran modern yang membantu Anda dalam mencatat kehadiran karyawan dengan lebih mudah dan akurat." />

    <!-- og meta tag -->
    <meta name="og:title" content="AbsensiKu" />
    <meta
      name="og:description"
      content="AbsensiKu adalah sebuah sistem manajemen kehadiran modern yang membantu Anda dalam mencatat kehadiran karyawan dengan lebih mudah dan akurat." />
    <meta
      name="og:image"
      content="{{ url_for('static', filename='img/dashboard_absensiku.png') }}" />
    <meta name="og:type" content="Website Absesensi" />
    {% block title %}
    <title>Abstraksi|Home</title>
    {% endblock title %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
      type="image/png" />
    <style>
      /* Kelas untuk mematikan transition */
      html.no-transition * {
        transition: none;
      }
    </style>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
    <script>
      // === Cek localStorage untuk mode dark ===
      (function (){
        const html = document.documentElement; // Target elemen <html>
        const checkbox = document.querySelector("#darkModeSwitch #hide-checkbox");
        html.classList.add('no-transition');
        if (localStorage.getItem("darkMode") === "true") {
          html.setAttribute("data-bs-theme", "dark");
          console.log("Dark mode aktif");
        } else if (localStorage.getItem("darkMode") === "false") {
          html.removeAttribute("data-bs-theme");
          console.log('Dark mode non aktif')
        } else {
          // Set default ke cerah
          console.log('dark mode tidak ditemukan')
        }
      })()
    </script>
    <!-- font awesome icon-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <!-- aos css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- animate css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {% block cdn_custom_css %} {% endblock cdn_custom_css %} {% block custom_css
    %}
    <!-- css custom -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />
    {% endblock custom_css %}
  </head>
  <body>
    {% include 'utility/dark_mode_switch.html' %}
    <!-- template value body -->
    {% block value_body %}
    <h1>Hello, world!</h1>
    {% endblock value_body %}
    <!-- cdn js default -->
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
    <!-- aos js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- moment time -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.43/moment-timezone-with-data.min.js"></script>
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- cdn jquery cookie -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
      integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- popper cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <!-- bootstrap   -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <!-- pace js -->
    <script
      src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <!-- end -->

    <!-- inisiasi aos -->
    <script>
      AOS.init({
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: "ease-in-out", // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
      });
    </script>

    <!-- custom cdn js -->
    {% block cdn_custom_js %} {% endblock cdn_custom_js %}
    <!-- membuat custom js -->
    {% block js_custom %}
    <!-- js custom -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock js_custom %}
    <!-- membuat mesage block -->
    {% block message %} {% if msg %}
    <script>
      Swal.fire({
        icon: "error",
        title: "OOPS!",
        text: "{{ msg }}",
        timer: 3000,
        willClose: () => {
          window.location.replace("/sign-up");
        },
      });
    </script>
    {% endif %} {% endblock message %}
  </body>
</html>
