{% extends "index.html" %}
{% block title %}
<title>Abstraksi|Not Found</title>
{% endblock %}

{% block custom_css %}
<!-- css custom -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/notFound.css') }}">  
{% endblock %}

{% block value_body %}
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
  <p class="output">Please try to <a href="{{ data.previous }}">go back</a> or <a href="{{ data.next }}">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>
</div>
{% endblock %}