{% extends "dashboard_magang.html" %} {% block title %}
<title>AbsensiKu | Riwayat Absen Karyawan / Magang</title>
{% endblock %} {% block cdn_custom_css %}
<!-- datatables css link -->
<link
  href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/cr-2.0.4/date-1.5.4/fc-5.0.3/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.0/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.css"
  rel="stylesheet"
/>

{% endblock %} {% block navbar %}
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a
        class="nav-link poppins-regular text-pink d-flex align-items-center gap-2"
        href="/dashboard"
        ><i class="fas fa-house-chimney fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Halaman Utama</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2" href="/change-password">
        <i class="fas fa-key fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Ubah Password
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2 active" href="/riwayat-kehadiran"
        ><i class="fas fa-calendar-check fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Riwayat Kehadiran Karyawan</a
      >
    </li>
    {% if data.role==1 %}
    {% if data.departement=='Mentor' and data.jobs=='Admin' %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink  d-flex align-items-center gap-2" href="/riwayat-bantuan"
        ><i class="fas fa-circle-question fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i> Riwayat Bantuan</a
      >
    </li>
    {% endif %}
    {% if data.departement == 'Superuser' %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2" href="/kelola-admin"><i class="fas fa-user-tie fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Kelola Admin</a>
    </li>
    {% endif %}
    {% endif %}
    <li class="nav-item">
      <a class="nav-link poppins-regular text-pink d-flex align-items-center gap-2" href="/task"><i class="fa-regular fa-pen-to-square fa-2xl text-primary w-100" style="font-size: 1em; max-width:20px"></i>Tugas</a>
    </li>
  </ul>
{% endblock %} {% block content %}

<div id="riwayat" class="container-fluid" style="margin-top: 1.5rem">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1
      class="h3 poppins-regular mb-md-0 mb-sm-2 text-gray-800"
      data-aos="zoom-in-right"
      data-aos-delay="600"
      data-aos-duration="800"
    >
      Riwayat Kehadiran
    </h1>
    <h1
      id="clock"
      class="h6 border border-1 rounded border-secondary-subtle p-1 px-2 poppins-regular mb-0 text-gray-800"
      data-aos="zoom-in-left"
      data-aos-delay="600"
      data-aos-duration="800"
    ></h1>
  </div>

  <table
    id="table-riwayat"
    class="table table-striped display no-wrap table-winnicode"
    style="width: 100%"
    data-aos="zoom-in"
    data-aos-delay="400"
    data-aos-duration="800"
  >
    {% if riwayat_absent %}
    <thead>
      <tr>
        <th {{ 'rowspan=2' if data.role==1 else '' }} class="poppins-semibold">No</th>
        {% if data.role==1 and data.jobs in ('Admin','Sub Admin') %}
        <th rowspan="2" class="poppins-semibold">Nik</th>
        <th rowspan="2" class="poppins-semibold">Email</th>
        <th rowspan="2" class="poppins-semibold">Nama Lengkap</th>
        {% endif %}
        <th {{ 'rowspan=2' if data.role==1 else '' }}  class="poppins-semibold">Tanggal Hadir</th>
        <th {{ 'rowspan=2' if data.role==1 else '' }}  class="poppins-semibold">Waktu Hadir</th>
        <th {{ 'rowspan=2' if data.role==1 else '' }}  class="poppins-semibold">Status Hadir</th>
        {% if data.role==1 and data.jobs in ('Admin','Sub Admin') %}
        <th colspan="2">Aksi</th>
        {% endif %}
      </tr>
      {% if data.role==1 and data.jobs in ('Admin','Sub Admin') %}
      <tr>
        <th>Edit</th>
        <th>Hapus</th>
      </tr>
      {% endif %}
    </thead>
    <tbody>
      {% for i in range(1,(riwayat_absent|length)+1)%}
      <tr
        id="{{riwayat_absent[i-1]._id if (data.role==1 and (data.jobs=='Admin' or data.jobs=='Sub Admin')) else '' }}"
        data-aos="slide-right"
        data-aos-delay="{{ 500+(i%26*100) }}"
        data-aos-duration="800"
      >
        <td class="poppins-regular align-middle">{{ i }}</td>
        <!-- jika data role admin -->
        {% if data.role==1 and data.jobs in ('Admin','Sub Admin') %}
        <td class="poppins-regular align-middle">{{ riwayat_absent[i-1].user.nik }}</td>
        <td class="poppins-regular align-middle">{{ riwayat_absent[i-1].user.email }}</td>
        <td class="poppins-regular align-middle">{{ riwayat_absent[i-1].user.nama }}</td>
        {% endif %}
        <td class="poppins-regular align-middle">{{ riwayat_absent[i-1].tanggal_hadir }}</td>
        <td class="poppins-regular align-middle">{{ riwayat_absent[i-1].waktu_hadir }}</td>
        <td>
          <button
            class="btn btn-{{'success' if riwayat_absent[i-1].status_hadir == '1' else 'warning' if riwayat_absent[i-1].status_hadir == 2 else 'danger' if riwayat_absent[i-1].status_hadir == 0 else 'secondary' }} poppins-regular"
          >
            {{ 'hadir' if riwayat_absent[i-1].status_hadir == '1' else 'Telat' if riwayat_absent[i-1].status_hadir == 2 else 'Tidak Hadir' if riwayat_absent[i-1].status_hadir == 0 else 'Cuti' }}
          </button>
        </td>
        {% if data.role==1 and data.jobs in ('Admin','Sub Admin') %}
        <!-- trigger modal edit -->
        <td class="poppins-regular align-middle">
          <a
            href="#"
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            id="triggerEditModal"
            data-bs-target="#editModal{{ riwayat_absent[i-1]._id }}"
            ><i class="fa-solid fa-xs text-white fa-user-pen"></i
          ></a>
        </td>
        <!-- trigger delete edit -->
        <td class="poppins-regular align-middle">
          <a
            href="#"
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal{{ riwayat_absent[i-1]._id }}"
            ><i class="fa-solid fa-xs text-white fa-user-minus"></i
          ></a>
        </td>
        {% endif %}
      </tr>

      
      {% if data.role==1 and data.jobs in ('Admin','Sub Admin') %}
      <!-- Modal edit -->
      <div class="modal fade" id="editModal{{ riwayat_absent[i-1]._id }}" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="/riwayat-kehadiran/edit" method="post">
              <!-- modal header -->
              <div class="modal-header">
                <h1 class="modal-title fs-5 poppins-medium">Edit riwayat absen {{ i
                  }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- body modal -->
              <div class="modal-body">
                <div class="form-floating">
                  <!-- Input Hidden for Method Override -->
                  <input type="hidden" name="__method" value="PUT">
                  <!-- csrf token -->
                  <input type="hidden" id="__csrf_token" name="__csrf_token" value="{{ csrf_token() }}" />
                  <!-- id -->
                  <input type="hidden" name="__id_riwayat_absent" id="__id_riwayat_absent" value="{{ riwayat_absent[i-1]._id }}">
                  <!-- status hadir sebelumnya -->
                  <input type="hidden" name="status_hadir_referrer" id="status_hadir_referrer" value="{{ riwayat_absent[i-1].status_hadir }}">
                  <!-- nik -->
                  <input type="hidden" name="nik" id="nik" value="{{ riwayat_absent[i-1].user.nik }}">
                  <!-- email -->
                  <input type="hidden" name="email" id="email" value="{{ riwayat_absent[i-1].user.email }}">
                  <!-- Status Perusahaan -->
                  <div class="form-floating mb-3">
                    <select id="status_hadir" name="status_hadir" class="form-select">
                      <option value='' {{'selected' if riwayat_absent[i-1].status_hadir=='' else '' }}>
                        --Pilih Pekerjaan--</option>
                      <option value="1" {{'selected' if riwayat_absent[i-1].status_hadir=='1'
                        else '' }}>Hadir</option>
                      <option value="2" {{'selected' if riwayat_absent[i-1].status_hadir==2
                        else '' }}>Telat</option>
                        <option value="0" {{'selected' if riwayat_absent[i-1].status_hadir==0 else ''
                      }}>Tidak Hadir</option>
                      <option value="3" {{'selected' if riwayat_absent[i-1].status_hadir==3
                        else '' }}>Cuti</option>
                    </select>
                    <label class="poppins-regular" for="status_hadir">Status Hadir</label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" type="reset" id="reset" class="btn btn-danger poppins-regular"
                  data-bs-dismiss="modal">Tutup</button>
                  <input role="button" type="submit" type="submit" id="submit"
                  class="btn btn-primary poppins-regular"" disabled="true" value="Simpan Perubahan"></input>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end modal -->

      <!-- delete modal -->
      <div
        class="modal fade"
        id="deleteModal{{ riwayat_absent[i-1]._id }}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form
            action="/riwayat-kehadiran/delete/{{riwayat_absent[i-1]._id}}"
            method="post"
            >
              <div class="modal-header">
                <h5 class="modal-title poppins-regular" id="deleteModalLabel">
                  Konfirmasi Hapus
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Apakah kamu ingin menghapus riwayat absen karyawan ini?
                <input type="hidden" name="_method" value="DELETE" />
                <input
                  type="hidden"
                  name="__csrf_token"
                  value="{{ csrf_token() }}"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary poppins-regular"
                  data-bs-dismiss="modal"
                >
                  Tutup
                </button>
                <input
                  type="submit"
                  role="button"
                  class="btn btn-danger poppins-regular"
                  value="Hapus"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end delete modal -->
      {% endif %}
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>

{% endblock %}

<!-- cdn js custom -->
{% block cdn_custom_js %}
<!-- datatables cdn js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="{{ url_for('static',filename='js/vfs_font.js') }}"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/cr-2.0.4/date-1.5.4/fc-5.0.3/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.0/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.js"></script>
{% endblock %} {% block js_custom %}
<!-- js custom -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
  $(document).ready(function () {
    const options = (parseInt('{{ data.role }}') == 1 && (('{{ data.departement }}'!=='Superuser') && ('{{ data.jobs }}'==='Sub Admin')))? [0, 1, 2, 3, 4, 5,6] : [0, 1, 2, 3];
    //membuat fonts default export
    pdfMake.fonts = {
      Times: {
        normal: 'times-new-roman.ttf',
        bold: 'times-new-roman-bold.ttf',
        italics: 'times-new-roman-italic.ttf',
        bolditalics: 'times-new-roman-bold-italic.ttf'
      }
    };


    /**
    * Customize Print DOCS
    * ==================
    *
    * @param {obj} win - document print
    * @example
    * // Contoh penggunaan
    * customizePrint(win)
    */
    customizePrint = (win)=>{
      templateHeading =` 
        <header class='d-flex flex-column justify-content-center align-items-center'>
          <h3 class="text-pink poppins-medium">Laporan Winnicode Garuda Terknologi</h3>
          <h3 class="text-pink poppins-medium">Table Riwayat Kehadiran</h3>
        </header>`
        
      //membuat border dan mealukan penambahan judul
      $(win.document.body).find('h1').remove()
      $(win.document.body).prepend(templateHeading)
      $(win.document.body).find('tr').children().addClass('text-center border border-dark border-1')
      
      // Menambahkan informasi tambahan di bawah tabel
      $(win.document.body).find( 'table' ).after(
        '<footer class="d-flex flex-column justify-content-center align-items-end">' +
        '<p class="poppins-light">Dicetak pada: ' + new Date().toLocaleString() + '</p>' +
        '<p class="poppins-light">Dibuat oleh: <span class="poppins-semibold"><span class="text-pink">Absensi</span>Ku</span></p>'+
        '</footer>'
      )
      //tambahkan background table 
      $(win.document.body).find('table tbody tr>*').css('background-color','transparent')
    }

    /** 
    * Customize PDF DOCS
    * ==================
    *
    * @param {obj} doc - document pdf
    * @example
    * // Contoh penggunaan
    * customizePDF(doc)
    */
    customizePDF = (doc)=>{
      // Kustomisasi PDF
      doc.defaultStyle = {
        font: 'Times', // Gunakan font Times New Roman
        fontSize: 10,  // Ukuran font default
      };
      // 1. Menambahkan Header
      doc.content.splice(0, 0, {
        alignment: 'center',
        text: [
          { text: 'Laporan Winnicode Garuda Teknologi\n', fontSize: 18, bold: true, color: 'pink' },
          { text: 'Table Riwayat Kehadiran Karyawan\n\n', fontSize: 15, bold: true, color: 'pink' }
        ]
      });

      // 2. Menambahkan Footer dengan Tanggal dan Nama Pembuat
      doc.content.push({
        alignment: ({{ data.role }} != 1) ? 'center' : 'right',
        margin: {{[0, 40, 0, 0] if data.role == 1 else [170,40,0,0]}},
        text: [
          {text: `Dicetak pada: ${new Date().toLocaleString()}\n`, fontSize: 10, font: 'Times', color:'black' },
          { 
            text: 'Dibuat oleh: ', 
            fontSize: 10,  
            font: 'Times',
            color: 'black' 
          },
          { 
            text: 'Absensi', 
            fontSize: 10, 
            bold: true, 
            font: 'Times',
            color: 'pink' 
          },
          { 
            text: 'Ku', 
            fontSize: 10, 
            bold: true, 
            font: 'Times',
            color: 'black' 
          }
        ]
      });

      // 3. Mengatur Gaya Font dan Ukuran Teks di Tabel
      doc.styles.tableHeader = {
        fontSize: 12,
        bold: true,
        color: 'black',
        fillColor: '#ff66c4',
        alignment: 'center'  // Perataan tengah untuk teks di header
      };
      doc.content.splice(1,1)

      //mengatur data table menjadi tengah
      doc.content[1].table.body.forEach(function(row, rowIndex) {
        if (rowIndex !== 0) {
          row.forEach(function(cell, cellIndex) {
            if (cell.text){
              cell.alignment='center'
            }
          })
        }
      });

      // Mengatur margin untuk membuat tabel menjadi rata tengah
      if ({{ data.role }} != 1){
        doc.content[1].margin = [135, 0, 100, 0]; // margin kiri, atas, kanan, bawah
      }
    }

    // datatables export
    $("#table-riwayat").DataTable({
      dom: (('{{ data.jobs }}'=='Admin') && ('{{ data.departement }}'=='Mentor')) ? "Blfrtip" : "lfrtip",
      language: {
        url: "{{ url_for('static',filename='/data/id.json') }}"
      },
      buttons: [
        {
          extend: "copy",
          text: '<i class="fas fa-copy"></i> Copy', // Tambahkan ikon FontAwesome
          className: "btn btn-primary",
          exportOptions:{
            columns: options // Indeks kolom yang ingin diexport
          },
        },
        {
          extend: "csv",
          text: '<i class="fas fa-file-csv"></i> CSV',
          className: "btn btn-warning",
          exportOptions:{
            columns: options // Indeks kolom yang ingin diexport
          },
        },
        {
          extend: "excel",
          text: '<i class="fas fa-file-excel"></i> Excel',
          className: "btn btn-success",
          exportOptions:{
            columns: options // Indeks kolom yang ingin diexport
          },
        },
        {
          extend: "pdf",
          text: '<i class="fas fa-file-pdf"></i> PDF',
          className: "btn btn-danger",
          exportOptions: {
            columns: options  // Kolom yang ingin diekspor
          },
          customize: function(doc){
            customizePDF(doc)
          }
        },
        {
          extend: "print",
          text: '<i class="fas fa-print"></i> Print',
          className: "btn btn-info",
          exportOptions:{
            columns: options // Indeks kolom yang ingin diexport
          },
          customize: function ( win ) {
            customizePrint(win)

            // Tambahkan alert untuk pengingat
            alert('Pastikan untuk mencentang opsi "Background graphics" di pengaturan cetak untuk menampilkan warna yang sesuai.');
          }
        },
      ],
      scrollX: true, // Enable horizontal scrolling
      keys: true,
      scrollCollapse: true, // Allow the table to reduce in height if there are fewer rows
      fixedHeader: true,
      lengthMenu: [5, 10, 25, 50, 75, { label: "All", value: -1 }],
      pageLength: 10,
    });
  });
</script>
<script src="{{ url_for('static',filename='js/riwayat_kehadiran.js') }}"></script>
{% endblock js_custom %}
<!-- message js -->
{% block message %} {% if (result and msg) %}
<script>
  Swal.fire({
    icon: "success",
    title: "Sukses!",
    text: "{{ msg }}",
    timer: 3000,
    willClose: () => {
      window.location.replace("/riwayat-kehadiran");
    },
  });
</script>
{% elif msg %}
<script>
  Swal.fire({
    icon: "error",
    title: "OOPS!",
    text: "{{ msg }}",
    timer: 3000,
    willClose: () => {
      window.location.replace("/riwayat-kehadiran");
    },
  });
</script>
{% endif %} {% endblock %}
