{% extends "index.html" %} {% block title %}
<title>Absensi|Login</title>
{% endblock %} {% block cdn_custom_css %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OverlayScrollbars/1.13.3/css/OverlayScrollbars.min.css"
/>
{% endblock cdn_custom_css %} {% block value_body %}

<!-- signin body -->
<section id="signin" class="h-100">
  <div class="container py-5 h-100">
    <div class="row align-items-center justify-content-center h-100">
      <!-- gambar -->
      <div
        class="d-lg-block d-none col-md-8 col-lg-7 col-xl-6 m-lg-0 mb-4"
        data-aos="fade-right"
        data-aos-delay="600"
        data-aos-duration="800"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="{{url_for('static', filename='img/login-concept-illustration.png')}}"
          class="img-fluid"
          alt="login-concept-illustration.png"
        />
      </div>
      <!-- bagian form -->
      <div
        class="col-sm-7 col-md-12 col-lg-5 col-xl-5 offset-xl-1"
        data-aos="fade-left"
        data-aos-delay="800"
        data-aos-duration="1600"
        data-aos-easing="ease-in-sine"
      >
        <form
          class="row border border-3 rounded-2 border-purple m-md-0 m-sm-2 m-1"
        >
          <div
            id="logo-signin"
            onclick="window.open('{{ url_for('home') }}', '_self')"
            style="cursor: pointer"
            class="col-12 d-flex justify-content-center align-items-center p-0 m-0 mb-4"
          >
            <img
              id="winni-logo"
              src="{{url_for('static', filename='img/absensiku-logo.png')}}"
              alt="winni-code.png"
            />
          </div>

          <div class="col-12">
            <h5
              class="fw-normal mb-3 pb-3 poppins-regular"
              style="letter-spacing: 1px"
            >
              Sign into your account
            </h5>
          </div>

          <input
            type="hidden"
            id="csrf_token"
            name="csrf_token"
            value="{{ csrf_token() }}"
          />
          <!-- Email input -->
          <div class="col-12 form-outline mb-4">
            <label class="form-label poppins-regular" for="email"
              >Email address</label
            >
            <input
              type="email poppins-regular"
              id="email"
              name="email"
              class="form-control"
              placeholder="Insert email..."
            />
          </div>

          <!-- Password input -->
          <div class="col-12 form-outline mb-4">
            <label class="form-label poppins-regular" for="password"
              >Password</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="form-control poppins-regular"
              placeholder="Insert password..."
            />
            <a href="/sign-in/forget" class="poppins-regular"
              >Forget password?</a
            >
          </div>

          <!-- masuk sebagai -->
          <div class="col-12 form-outline mb-4">
            <label class="form-label poppins-regular" for="jobs"
              >Masuk Sebagai ?</label
            >
            <select id="jobs" name="jobs" class="form-select poppins-regular">
              <option value="None" selected>--Select Jobs--</option>
              <option value="Karyawan">Karyawan</option>
              <option value="Magang">Magang</option>
              <option value="Admin">Admin</option>
              <option value="Sub Admin">Sub Admin</option>
            </select>
          </div>

          <!-- Submit button -->
          <div class="col-12 m-0 row gap-4">
            <div class="col-12 p-0">
              <button type="submit" class="btn btn-primary poppins-medium">
                Sign in
              </button>
            </div>
            <div class="col-12 p-0">
              <p class="pb-lg-2 poppins-regular" style="color: #393f81">
                Don't have an account?
                <a
                  class="poppins-regular"
                  href="{{ url_for('signUp') }}"
                  style="color: #393f81"
                  >Register here</a
                >
              </p>
            </div>
            <div
              class="col-12 d-flex justify-content-center align-items-center p-0"
            >
              <h1 class="h6 poppins-regular text-gray-800">
                Waktu server :
                <span
                  id="clock"
                  class="poppins-medium"
                  style="max-width: max-content"
                ></span>
              </h1>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% if not (status or msg) %}
<!-- loading -->
{% include 'utility/loading.html' %} {% endif %}
<!-- FAQ -->
{% include 'utility/ballon_faq.html' %} {% endblock %} {% block message %} {% if
(status and msg) %}
<script>
  Swal.fire({
    icon: "success",
    title: "{{ title }}",
    html: "{{ msg|safe }}",
    timer: 3000,
    willClose: () => {
      window.location.replace("/sign-in");
    },
  });
</script>
{% elif msg %}
<script>
  Swal.fire({
    icon: "error",
    title: "OOPS!",
    html: "{{ msg|safe }}",
    timer: 3000,
    willClose: () => {
      window.location.replace("/sign-in");
    },
  });
</script>
{% endif %} {% endblock %}
