{% extends "dashboard_magang.html" %} {% block title %}
<title>Absensi | Task Karyawan / Magang</title>
{% endblock %} 

{% block navbar %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a
        class="nav-link poppins-regular"
        aria-current="page"
        href="/dashboard/magang"
        >Dashboard</a
        >
    </li>
    <li class="nav-item">
        <a class="nav-link poppins-regular active" href="/task/magang">Task</a>
    </li>
</ul>  
{% endblock navbar %}

{% block content %}

<div class="container-fluid" style="margin-top: 7rem">
    
    <div class="container-fluid bg-warning d-flex justify-content-center align-items-center py-4">
        <h2 class="h6 poppins-regular m-0" style="line-height: none;">This page is comingsoon</h2>
    </div>
</div>
{% endblock %}

